
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #000000;
}
.img {
display:  flex;
justify-content: center;
padding-top: 164px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#email {
    width: 466px;
    height: 50px;
    margin-bottom: 7px;
    color: white;
    background: #353535;
    border: 1px solid #fafafa ;
    font-size: 15px;
}
#password {
    width: 466px;
    height: 50px;
    margin-bottom: 42px;
    color: white;
    background: #353535;
    border: 1px solid #fafafa;
    font-size: 15px;
}
.enviar {
    background: #2fb43c;
    color: #fafafa;
    border: none;
    width: 191px;
    height: 67px;
    border-radius: 12px;
    font-size: 30px;
    cursor: pointer;
    margin-top: 20px;
}

